[Unit]
Description=Run Lecture Pipeline 5 minutes after last run finishes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target